    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    html,
    body {
        height: 100%;
        width: 100%;
    }
    /* -------------------header------------------- */
    
    header {
        width: 100%;
    }
    
    nav {
        width: 100%;
        height: 100px;
        background-color: lightsteelblue;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 1.6px;
        transition: 1s ease-in;
    }
    
    .navbar-row {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
    }
    
    nav input {
        display: inline-block;
        margin: 0 auto;
        border: 1px;
        border-radius: 5px;
        width: 300px;
        height: 30px;
    }
    
    nav a {
        float: left;
        padding: 12px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        font-size: 17px;
        width: 25%;
        text-align: center;
    }
    
    nav a:hover {
        background-color: lightblue;
    }
    /* -------------------header------------------- */
    /* -----------------jumbotron----------------- */
    
    section.jumbotron {
        width: calc(100% - 10%);
        text-align: center;
        margin: 40px 5%;
    }
    
    .cell.jumbotron {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 30%;
        transition: 1s ease-in;
        /* 
        para cambiar el height cambiar 
        el porcentaje de padding
        */
    }
    
    .item.jumbotron {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    /* -----------------jumbotron----------------- */
    /* ----------------categorias---------------- */
    
    section.categorias {
        width: calc(100% - 10%);
        text-align: center;
        margin: 40px 5%;
    }
    
    .cell.categorias {
        display: inline-block;
        position: relative;
        margin: 20px;
        width: calc((100%/3) - 43px);
        padding-bottom: 12%;
        transition: width 2s ease-in-out;
    }
    
    .item.categorias {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: lightgrey;
    }
    /* ----------------categorias---------------- */
    /* ------------------promos------------------ */
    
    section.promos {
        width: calc(100% - 10%);
        text-align: center;
        margin: 40px 5%;
    }
    
    .cell.promos {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 10%;
    }
    
    .cell.promos:first-child {
        margin-bottom: 40px;
    }
    
    .item.promos {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: lightgrey;
    }
    /* ------------------promos------------------ */
    /* ----------------productos---------------- */
    
    section.productos {
        width: calc(100% - 30%);
        text-align: center;
        margin: 40px 15%;
    }
    
    .cell.productos {
        display: inline-block;
        position: relative;
        width: 100%;
        margin: 20px 0px;
        padding-bottom: 20%;
    }
    
    .item.productos {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    /* ----------------productos---------------- */
    /* -----------------footer----------------- */
    
    footer {
        width: 100%;
        height: 300px;
        background-color: gray;
    }
    /* -----------------footer----------------- */
    /* ---------------responsive--------------- */
    
    @media screen and (max-width: 600px) {
        .cell.jumbotron {
            padding-bottom: 80%;
        }
        .cell.categorias {
            width: 100%;
            margin: 0px 0px 20px 0px;
            padding-bottom: 18%;
        }
        .cell.categorias:last-child {
            margin-bottom: 0px;
        }
        .cell.productos {
            padding-bottom: 50%;
        }
        .slides.productos>div {
            width: calc((100%/2) - 80px);
        }
        .slides.productos::-webkit-scrollbar {
            visibility: visible;
        }
    }
    
    @media screen and (min-width: 600px) {
        .slides.productos>div {
            width: calc((100%/5) - 40px);
        }
        .slides.productos::-webkit-scrollbar {
            visibility: hidden;
        }
    }
    
    @media screen and (max-width: 500px) {
        nav {
            height: 210px;
        }
        .navbar-row.row-2 {
            overflow: auto;
            width: 100%;
            overflow: auto;
            display: inline;
        }
        .navbar-row.row-2>a {
            float: none;
            display: block;
            width: 100%;
            height: 40px;
            text-align: center;
        }
    }
    /* ---------------responsive--------------- */
    /* ---------------carussel--------------- */
    /* .slider {
        text-align: center;
        overflow: hidden;
        width: 100%;
        height: 100%;
    } */
    /* slides */
    
    .slides {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }
    
    .slides::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    
    .slides::-webkit-scrollbar-thumb {
        background: gray;
        border-radius: 10px;
    }
    
    .slides::-webkit-scrollbar-track {
        background: transparent;
    }
    
    .slides>div {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        margin-right: 50px;
        border-radius: 5px;
        background: lightgray;
        transform-origin: center center;
        transform: scale(1);
        transition: transform 0.5s;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
    }
    
    .slides>div:nth-child(5) {
        margin-right: 0px;
    }
    /* img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    } */
    /* links */
    
    .links>a {
        display: inline-flex;
        width: 1.5rem;
        height: 1.5rem;
        background: #eee;
        color: black;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: 0 0 0.5rem 0;
        position: relative;
    }
    
    section.jumbotron>a:active {
        top: 1px;
    }
    
    section.jumbotron>a:focus {
        background: lightgrey;
    }
    /* ---------------carussel--------------- */
    
    a.chat {
        position: fixed;
        text-align: center;
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        width: 200px;
        height: 50px;
        right: 20px;
        bottom: 0px;
        background: lightgreen;
        opacity: 0;
        text-decoration: none;
        animation: slidein 1s ease 4s forwards;
    }
    
    a.chat>div {
        position: relative;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        text-decoration: none;
    }
    
    @keyframes slidein {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }