    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    html,
    body {
        height: 100%;
        width: 100%;
    }
    /* -------------------header------------------- */
    
    header {
        width: 100%;
    }
    
    nav {
        width: 100%;
        height: 100px;
        background-color: lightsteelblue;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 1.6px;
    }
    
    .navbar-row {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
    }
    
    .navbar-row:nth-child(2) {
        padding: 0px 80px;
    }
    
    nav input {
        margin: 0 auto;
        border: 1px;
        border-radius: 5px;
        width: 300px;
        height: 30px;
    }
    
    nav a {
        width: 120px;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 18px;
        text-decoration: none;
    }
    /* -------------------header------------------- */
    /* -----------------jumbotron----------------- */
    
    section.jumbotron {
        width: calc(100% - 20px);
        text-align: center;
        margin: 10px;
    }
    
    .cell.jumbotron {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 30%;
        transition: 1s ease-in;
        /* 
        para cambiar el height cambiar 
        el porcentaje de padding
        */
    }
    
    .item.jumbotron {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: lightgrey;
    }
    /* -----------------jumbotron----------------- */
    /* ----------------categorias---------------- */
    
    section.categorias {
        width: calc(100% - 20px);
        text-align: center;
        margin: 10px;
    }
    
    .cell.categorias {
        display: inline-block;
        position: relative;
        margin: 2.5px;
        width: calc((100%/3) - 8px);
        padding-bottom: 12%;
        transition: width 2s ease-in-out;
    }
    
    .item.categorias {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: lightgrey;
    }
    /* ----------------categorias---------------- */
    /* ------------------promos------------------ */
    
    section.promos {
        width: calc(100% - 20px);
        text-align: center;
        margin: 10px;
    }
    
    .cell.promos {
        display: inline-block;
        position: relative;
        margin: 2.5px;
        width: 100%;
        padding-bottom: 10%;
    }
    
    .item.promos {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: lightgrey;
    }
    /* ------------------promos------------------ */
    /* ----------------productos---------------- */
    
    section.productos {
        width: calc(100% - 20px);
        text-align: center;
        margin: 10px;
    }
    
    .cell.productos {
        display: inline-block;
        position: relative;
        margin: 5px;
        width: calc((100%/5) - 14px);
        padding-bottom: 25%;
        transition: width 2s ease-in-out;
    }
    
    .item.productos {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: lightgrey;
    }
    /* ----------------productos---------------- */
    /* -----------------footer----------------- */
    
    footer {
        width: 100%;
        height: 300px;
        background-color: gray;
    }
    /* -----------------footer----------------- */
    /* ---------------responsive--------------- */
    
    @media screen and (max-width: 600px) {
        .cell.jumbotron {
            padding-bottom: 80%;
        }
        .cell.categorias {
            width: 100%;
            padding-bottom: 18%;
        }
        .cell.productos {
            width: calc((100%/2) - 14px);
            padding-bottom: 60%;
        }
    }
    /* ---------------responsive--------------- */
    /* ---------------carussel--------------- */
    
    .slider {
        text-align: center;
        overflow: hidden;
    }
    
    .slides {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        /*
        scroll-snap-points-x: repeat(300px);
        scroll-snap-type: mandatory;
        */
    }
    
    .slides::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    
    .slides::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 10px;
    }
    
    .slides::-webkit-scrollbar-track {
        background: transparent;
    }
    
    .slides>div {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        margin-right: 50px;
        border-radius: 10px;
        background: #eee;
        transform-origin: center center;
        transform: scale(1);
        transition: transform 0.5s;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
    }
    
    img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    section.jumbotron>a {
        display: inline-flex;
        width: 1.5rem;
        height: 1.5rem;
        background: white;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: 0 0 0.5rem 0;
        position: relative;
    }
    
    .slider>a:active {
        top: 1px;
    }
    
    .slider>a:focus {
        background: #000;
    }
    /* ---------------carussel--------------- */