    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    html,
    body {
        height: 100%;
        width: 100%;
    }
    /* -------------------navbar------------------- */
    
    header {
        width: 100%;
    }
    
    nav {
        width: 100%;
        height: 100px;
        background-color: lightsteelblue;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 1.6px;
    }
    
    .navbar-row {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
    }
    
    .navbar-row:nth-child(2) {
        padding: 0px 80px;
    }
    
    nav input {
        margin: 0 auto;
        border: 1px;
        border-radius: 5px;
        width: 300px;
        height: 30px;
    }
    
    nav a {
        width: 120px;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 18px;
        text-decoration: none;
    }
    /* -------------------navbar------------------- */
    /* -----------------jumbotron----------------- */
    
    section.jumbotron {
        width: calc(100% - 20px);
        text-align: center;
        margin: 10px;
    }
    
    .cell.jumbotron {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 30%;
        /* 
        para cambiar el height cambiar 
        el porcentaje de padding
        */
    }
    
    .item.jumbotron {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: lightgrey;
    }
    /* -----------------jumbotron----------------- */
    /* ----------------categorias---------------- */
    
    section.categorias {
        width: calc(100% - 20px);
        text-align: center;
        margin: 10px;
    }
    
    .cell.categorias {
        display: inline-block;
        position: relative;
        margin: 2.5px;
        width: calc((100%/3) - 8px);
        padding-bottom: 12%;
    }
    
    .item.categorias {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: lightgrey;
    }
    /* ----------------categorias---------------- */
    /* ------------------promos------------------ */
    
    section.promos {
        width: calc(100% - 20px);
        text-align: center;
        margin: 10px;
    }
    
    .cell.promos {
        display: inline-block;
        position: relative;
        margin: 2.5px;
        width: 100%;
        padding-bottom: 10%;
    }
    
    .item.promos {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: lightgrey;
    }
    /* ------------------promos------------------ */
    /* ----------------productos---------------- */
    
    section.productos {
        width: calc(100% - 20px);
        text-align: center;
        margin: 10px;
    }
    
    .cell.productos {
        display: inline-block;
        position: relative;
        margin: 5px;
        width: calc((100%/5) - 14px);
        padding-bottom: 25%;
    }
    
    .item.productos {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: lightgrey;
    }
    /* ----------------productos---------------- */
    /* -----------------footer----------------- */
    
    footer {
        width: 100%;
        height: 300px;
        background-color: gray;
    }
    /* -----------------footer----------------- */
    /* ---------------responsive--------------- */
    
    @media screen and (max-width: 600px) {
        .cell.jumbotron {
            padding-bottom: 80%;
        }
        .cell.categorias {
            width: 100%;
            padding-bottom: 18%;
        }
        .cell.productos {
            width: calc((100%/2) - 14px);
            padding-bottom: 60%;
        }
    }
    /* ---------------responsive--------------- */